<?xml version="1.0"?>

<launch>


    <!-- start turtlebot-->
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"> 
    </include>

    <include file="$(find astra_launch)/launch/astra.launch">
    </include>

    <!-- start laser node (ethernet or usb)
    <include file="$(find auto)/launch/sensor/eth_laser.launch"> 
    </include>

    <include file="$(find auto)/launch/sensor/usb_laser.launch"> 
    </include>
    --> 

</launch>
