<launch>
  <!-- Gmapping --> 
  <arg name="gmapping_launch_file" default="$(find auto)/launch/include/gmapping.launch.xml"/>	
  <include file="$(arg gmapping_launch_file)"/>

	
  <!-- <include file="$(find hector_slam_launch)/launch/mapping_box.launch"/>-->

  <!-- Move base 
  <include file="$(find auto)/launch/include/move_base.launch.xml"/>
-->
</launch>
