<?xml version="1.0"?>

<launch>

  <!--<node pkg="auto" type="image_publisher.py" name="image_publisher" output="screen">
    <remap from="input" to="/camera/rgb/image_raw" />
    <remap from="output" to="/darknet_ros/camera_topic/image_raw" />
  </node>-->

<!--
	<include file="$(find darknet_ros)/launch/darknet_ros.launch"> 
    	<param name="camera_reading/topic"    value="camera/rgb/image_raw" />
    	<param name="enable_opencv"           value="true" />
    </include>
-->

<!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find darknet_ros)/yolo_network_config/weights"/>
  <arg name="yolo_config_path"           default="$(find darknet_ros)/yolo_network_config/cfg"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="darknet_ros" file="$(find darknet_ros)/config/ros.yaml"/>
  <rosparam command="load" ns="darknet_ros" file="$(find darknet_ros)/config/yolo-door.yaml"/>

  <!-- Start darknet and ros wrapper -->
  <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="screen">
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />

    <param name="subscribers/camera_reading/topic"    value="/camera/rgb/image_raw" />
    <param name="image_view/enable_opencv"            value="true" />
  </node>

  <!-- Start object projector node -->
  <node pkg="auto" type="object_positioner" name="object_positioner_node" output="screen">
  </node>

  <node pkg="auto" type="filter.py" name="kalman_filter" output="screen">
  </node>

</launch>
